<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form</title>
  <style>
    .form-group {
      margin-bottom: 20px;
    }
    label {
      display: block;
      margin-bottom: 5px;
    }
    input,
    textarea {
      width: 40%;
      padding: 8px;
      margin-top: 5px;
      margin-bottom: 15px;
      border: 2px solid black;
    }
    button {
      display: block;
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <form action="https://formspree.io/f/manwjyko" method="POST">
  <label>
    Your email:
    <input type="email" name="email">
  </label>
  <label>
    Your message:
    <textarea name="message"></textarea>
  </label>
  <!-- your other form fields go here -->
  <button type="submit">Send</button>
</form>
  
</body>
</html>